<div class="section login-section">
  <div class="container">
    <div class="row full-height justify-content-center">
      <div class="col-12 text-center align-self-center py-5">
        <div class="section pb-5 pt-5 pt-sm-2 text-center">
          <h6 class="mb-0 pb-3">
            <span>Meal</span>
            <span>Trip</span>
          </h6>
          <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
          <label for="reg-log"></label>
          <div class="card-3d-wrap mx-auto">
            <div class="card-3d-wrapper">

              <!--Card Front-->
              <div class="card-front">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3 login-title">Login</h4>
                    <form action="/" method="post">
                      <div class="form-group">
                        <input type="text" name="name" class="form-style" id="front-name"
                               placeholder="Your Name"/>
                        <i class="input-icon uil uil-user"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input type="text" name="password" class="form-style" id="front-pass"
                               placeholder="Your Password"/>
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>
                      {{#if errorMessage}}
                        <p class="err-msg">{{errorMessage.message}}</p>
                      {{/if}}
                      <button type="submit" class="btn mt-4 summit-btn">submit</button>
                    </form>
                  </div>
                </div>
              </div>

              <!--Card Back-->
              <div class="card-back">
                <div class="center-wrap">
                  <div class="section text-center">
                    <h4 class="mb-4 pb-3 login-title">Login</h4>
                    <div class="form-group">
                      <input type="text" name="back-name" class="form-style" id="back-name"
                             placeholder="Your Name"/>
                      <i class="input-icon uil uil-user"></i>
                    </div>
                    <div class="form-group mt-2">
                      <input type="text" name="back-pass" class="form-style" id="back-pass"
                             placeholder="Your Password"/>
                      <i class="input-icon uil uil-lock-alt"></i>
                      <a href="#" class="btn mt-4 summit-btn">submit</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>